{{page-title "books"}}
{{outlet}}

<div class="layout-row">
  <div class="flex table-example">
    <h2>Books</h2>

{{!--if filter enabled then send the param filter here--}}
<WebComp::TableView @model={{model}}/>
  </div>
</div>

