<div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" style="width: 280px;">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
      <img src="/assets/library_logo.jpg" class="img-fluid" width="40" height="50" alt="logo">
{{!--       <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg> --}}

      <span class="fs-4 ms-2">
        {{#if isAdmin}}
          Library Admin
        {{else}}
          Library
        {{/if}}
      </span>
    </a>
    <hr>
 <ul class="nav nav-pills flex-column mb-auto">
   <li class="nav-item">
     {{#link-to "books.index" class=(if isAdmin "nav-link text-white" "nav-link text-white user-tab") role="tab" data-bs-toggle="pill" data-bs-target="#pills-books"}}
       <svg class="bi me-2" width="16" height="16"><use xlink:href="#Books"></use></svg>
       Books
     {{/link-to}}
   </li>

   <li class="nav-item">
     {{#link-to "borrowed_books" class=(if isAdmin "nav-link text-white admin-tab" "nav-link text-white user-tab") role="tab" data-bs-toggle="pill" data-bs-target="#pills-borrowed_books" }}
       <svg class="bi me-2" width="16" height="16"><use xlink:href="#borrowed-books"></use></svg>
       {{#if isAdmin}}
         Book Circulations
       {{else}}
         Borrowed Books
       {{/if}}
     {{/link-to}}
   </li>

   {{#if isAdmin}}
   <li class="nav-item">
     {{#link-to "users" class="nav-link text-white" role="tab" data-bs-toggle="pill" data-bs-target="#pills-users"}}
       <svg class="bi me-2" width="16" height="16"><use xlink:href="#users"></use></svg>
       Users
     {{/link-to}}
   </li>
   {{/if}}
 </ul>

    <hr>
    <div class="dropdown">
      <a class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
        <img src="/assets/user_profile.png" alt="" width="32" height="32" class="rounded-circle me-2">
        <strong> {{currentUser.user.name}} </strong>
      </a>
      <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
        <li><a class="dropdown-item" href="#">Profile</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="users/sign_out">Sign out</a></li>
      </ul>
    </div>
  </div>

